/****************** 폰트설정 ******************/
@font-face {
	font-family: 'SUITmedium';
	font-weight: 500;
	src: url('../font/suit/SUIT-Medium.ttf');
}

@font-face {
	font-family: 'SUITbold';
	font-weight: 700;
	src: url('../font/suit/SUIT-Bold.ttf');
}

.lib-font-bold{
    font-family: 'SUITbold';
}
.lib-font-medium{
    font-family: 'SUITmedium';
}

*{
    transition: background-color .2s, color .05s, box-shadow .2s;
    word-wrap: break-word;
    word-break: keep-all;
}

/****************** 스크롤바 ******************/

*::-webkit-scrollbar{ width: 12px; }
*::-webkit-scrollbar-thumb{
    background-color: rgb(128,128,128);
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;

    &:hover{
        background-color: rgb(108,108,108);
    }
}

/****************** 색 설정버튼 아이콘 ******************/

#color-changer{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    
    button{
        border: none;
        width: 32px;
        height: 32px;
        background-size: cover;
        background-color: transparent;
        
        margin: 8px;
    }

    #color-light{ background-image: url("https://ui.koderpark.dev/img/icon/light.png"); }
    #color-dark{ background-image: url("https://ui.koderpark.dev/img/icon/dark.png"); }
}

a{ text-decoration: none !important;}

p {margin: 0;}
ul{margin: 0;}
h1,h2,h3,h4,h5,h6{ margin: 0; font-family: 'suitBold'; }

body{
    margin: 0;
    padding: 0;
    border: 0;
}


ul{
}
.ul-square li{
    list-style: square;
}

.r0{ border-radius: .5rem; }
.r1{ border-radius: 1rem; }
.r2{ border-radius: 2rem; }
.r3{ border-radius: 3rem; }
.r4{ border-radius: 4rem; }

.h0{ font-size: 64px; line-height: 64px; padding: 16px 32px;}
.h7{ font-size: 12px; line-height: 12px; }

.dragfalse{ -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

.cursor{ cursor: pointer; }
